body{
	font-family: 'Roboto Slab', serif;
}

/*----------------------------------------------------------------*\
								HEADER
\*----------------------------------------------------------------*/

#logo{
	width: 1.8em;
	height: 1.8em;
	}

.entete{
	font-size: 2.2em;
}


/*----------------------------------------------------------------*\
						BARRE DE NAVIGATION
\*----------------------------------------------------------------*/

.text-color{
	color: white;
}

.drop-shadow{
    z-index: 1000;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.bg-navbar{
	background-color: #424242;
	color: white;
}

.hover-link{
	border-radius: 5px;
}

.hover-link:hover{
	background-color: rgb(124,125,124);
}

.bg-custom{
	background-color: rgb(199,200,199);
	width: 108%;
}

.bg-custom input{
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 90%;
	padding-left: 4%;
	padding-right: 4%;
	border-style: solid;
	border-radius:2em;
	border-color: rgb(124,125,124);
	font-family: 'Roboto Slab', serif;
	font-size: 80%;
}



.bg-custom input[type=submit]{
	width: 50%;
	margin-bottom: 5%;
	color: white;
	background-color: rgb(124,125,124); 
	
}

.bg-custom input[type=submit]:hover{
	background-color: rgb(136,137,136);
}

.bg-custom label{
	display: block;
	margin-top: 10px;
	margin-left: 10%;
	font-family: 'Roboto Slab', serif;
	font-size: 90%;
	padding: 0;
}

.bg-custom a{
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
	margin-left: 10%;
	margin-bottom: 10%;
	font-size: 80%;
}

.bg-custom a:hover{
	color: rgb(124,125,124);
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("../img/home/menuicon.png");
}

.custom-toggler.navbar-toggler {
	border-color: white;
}
/*----------------------------------------------home--------------------*/

.home{
    width: 100%;
    height: 100%;
    margin-top: -10px;
	border-radius: 0px 0px 5px 5px;
    z-index: 1;
}

.ht {
    height: 100%;
    background-color: #424242;
}

.fsize{
    font-size: 200%;
}

/*----------------------------------------------------------------*\
							ADD OEUVRES
\*----------------------------------------------------------------*/

.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}
.cborder{
	border-style: 2px solid #424242;
}

/*----------------------------------------------------------------*\
							ADD EXPO
\*----------------------------------------------------------------*/

.bg-invalid{
	background-color: #FFA0A0;
}

/*---------------------------------------------------------------
						en ce moment
-----------------------------------------------------------------*/

.salle {
	cursor: pointer;
}

.oeuvre-container {
	display: none;
}

.show-expo {
	display: block;
}

/*----------------------------------------------------------------*\
							ADMIN CALENDAR
\*----------------------------------------------------------------*/

.prenext {
	margin-top: 5px;
}